<div class="container main-container main-container create-project">
	<div class="fill">

		<div class="app-content col-md-8">
			<table class="persona-template col-md-10 col-md-offset-1">
				<h3 class="margin-bottom20 margin-bottom20">Persona</h3>
				<tbody>
					<tr>
						<td scope="row" class="col-md-4 persona-profile-picture">Photo</td>
						<td class="col-md-8">
							<span class="labels">First Name, Last Name</span>
							<br/>
							<span class="labels">Description: </span>
							<span class="description">What type of persona is it. Describe the most prominent differentiator.</span>
							<br/>
							<span class="labels">Quote: </span>
							<span class="description">“Capture the essence to one or two points that could come out of the persona’s own mouth - so to speak”</span>
							<br/>
						</td>
					</tr>
					<tr>
						<td>
							<span class="labels title">Demographic Details</span>
							<br/>
							<span class="labels">Age:</span>
							<br/>
							<span class="labels">Occupation:</span>
							<br/>
							<span class="labels">Education Level:</span>
							<br/>
						</td>
						<td>
							<span class="labels">Bio:</span>
							<span class="description">Brief description of the user journey. Some use cases can be included.</span>
							<br/>
						</td>
					</tr>
					<tr>
						<td>
							<span class="labels">Touch Points: </span>
							<br/>
						</td>
						<td>
							<span class="labels title">Goals</span>
							<span class="description">The Objectives of the person hopes to achieve.</span>
							<br/>
							<br/>
							<span class="labels">Goal 1:</span>
							<br/>
							<span class="labels">Goal 2:</span>
							<br/>
							<span class="labels">Goal 3:</span>
							<br/>
						</td>
					</tr>
					<tr>
						<td>
							<span class="labels">Pain Points: </span>
							<br/>
						</td>
						<td>
							<span class="labels">Attitudes</span>
							<span class="description">What is the point of view? What is the expectation, perception of the service, company or brand, What motivates the persona to go to the website, into the shop, or use the service.</span>
							<br/>
							<br/>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="user-behaviour">
							<span class="labels">User Behaviour</span>
							<br/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- main content area here  -->

		<div class="app-sidebar col-md-4">
			<h3>Tips to Create User Personas</h3>
			<p ca class="margin-bottom20">I recommend clearing your pantry of all unhealthy temptations if you can: chips, candy, ice cream, sodas, juices, breads,
				cereals and baking ingredients like wheat flour and sugar.
			</p>
			<dl class="app-numbering">
				<dt>To provide proper credit, use the embedded credit already in the icon you downloaded, or you can copy the line above
					and add it to your citations, </dt>
				<dt>To provide proper credit, use the embedded credit already in the icon you downloaded, or you can copy the line above
					and add it to your citations, </dt>
				<dt>To provide proper credit, use the embedded credit already in the icon you downloaded, or you can copy the line above
					and add it to your citations, </dt>
			</dl>
		</div>
		<!-- sidebar content area here -->


	</div>
</div>