<div class="container main-container main-container create-project">
            <div class="fill">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                        <h2>Join UX Pal</h2>
						<br />
                    </div>
                    <div class="col-md-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                        <input type="text" class="create-project-input" placeholder="Name">
                    </div>
					<div class="col-md-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                        <input type="text" class="create-project-input" placeholder="Email">
                    </div>
					<div class="col-md-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
						<input type="password" class="create-project-input" placeholder="Password">
                    </div>
                    
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-default create-project-btn" type="button" id="dropdownMenu2">Create Account</button>
                    </div>

                </div>
            </div>
        </div>