$primary-background-color: #ffffff;
$secondary-background-color: #f4f7f9;
$primary-border-color: #e3e1e6;
$standerd-border-width: 1px solid;
$standerd-border: $standerd-border-width $primary-border-color;
$primary-active-border-color: rgb(63, 81, 181);
$secondary-border-color: #e5e5e5;
$primary-font-color: #000000;
$primary-font-size: 12px;
$header-font-size: 13px;
$header-font-weight: bold;
$heading-fonts: $primary-font-color $header-font-weight;
$popup-padding: 10px 17px;

body {
    margin: 0;
    padding: 0;
    /*temporary hack*/
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
body,
html {
    height: 100%;
}
.container {
    height: 100%;

    &.main-container {
        padding: 0;
        width: 100%;
        .fill {
            width: 100%;
            height: 100%;
            min-height: 100%;
   
      
            .row:nth-child(2) {
              margin-top: 20px;
            }
        }
        &.create-project {
            .create-project-input {
                height: 58px;
                width: 38%;
                border-radius: 6px;
                border: 1px solid #e5e5e5;
                margin-bottom: 28px;
            }
            .create-project-btn {
                height: 58px;
                width: 25%;
                border-radius: 6px;
                border: 1px solid #e5e5e5;
                margin-bottom: 28px;
                background: aliceblue;
            }
            .create-project-textarea {
                    height: 112px;
                    width: 25%;
                    border-radius: 6px;
                    border: 1px solid #e5e5e5;
            }
        }
        .ux-process {
            width: 100%;
            height: 100%;
            .fluid-box {
                height: 50%;
                background: red;

                &.red {
                    background: #d32f2f;
                }
                &.purple {
                     background: #9c27b0;
                }
                &.deep-blue {
                     background: #512da8;
                }
                &.ocean-blue {
                     background: #448aff;
                }
                &.yellow {
                     background: #cddc39;
                }
                &.white {
                     background: #f4f7f9;
                }

                h1 {
                    text-align: center;
                    color: #ffffff;
                        padding-top: 37%;
                        font-weight: 800;
                        font-size: 40px;
                }
                p{
                       width: 50%;
                    color: #fff;
                    text-align: center;
                    margin: 0 auto;
                }
                &:hover {
                    border: 10px solid #000;
                    animation: fadein 2s;
                    -moz-animation: fadein 2s; /* Firefox */
                    -webkit-animation: fadein 2s; /* Safari and Chrome */
                    -o-animation: fadein 2s;
                }
            }
        }
    }
   
}
.uxpal-navbar {
    margin-bottom: 0;
}

@keyframes fadein {
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0.5;
    }
    to {
        opacity: 1;
    }
}