<div class="container main-container main-container create-project">
            <div class="fill">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                        <p class="product-description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries,
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                        <h2>Create New Project</h2>
                    </div>
                    <div class="col-md-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
                        <input ng-model="projectName" type="text" class="create-project-input" placeholder="Project Name">
                    </div>
                    <div class="col-sm-12 text-center">
                        <textarea ng-model="projectDescription" class="create-project-textarea" placeholder="Project Description"></textarea>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button ng-click="createNewProject()" class="btn btn-default create-project-btn" type="button" id="dropdownMenu2">Create New Project</button>
                    </div>

                </div>
            </div>
        </div>