<div class="container main-container main-container create-project">
	<div class="fill">

		<div class="app-content col-md-8">
			<table class="table table-hover">
				<h4 class="margin-bottom20 margin-bottom20">Document List</h4>
				<thead>
					<tr>
						<th>#</th>
						<th>Document Name</th>
						<th>Modified on </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Persona</td>
						<td>21/01/2016</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Competitor Analysis</td>
						<td>21/01/2016</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>User Research</td>
						<td>21/01/2016</td>

					</tr>
				</tbody>
			</table>
		</div>
		<!-- main content area here  -->

		<div class="app-sidebar col-md-4">
			<h3>Tips to Create User Personas</h3>
			<p ca class="margin-bottom20">I recommend clearing your pantry of all unhealthy temptations if you can: chips, candy, ice cream, sodas, juices, breads,
				cereals and baking ingredients like wheat flour and sugar.
			</p>
			<dl class="app-numbering">
				<dt>To provide proper credit, use the embedded credit already in the icon you downloaded, or you can copy the line above
					and add it to your citations, </dt>
				<dt>To provide proper credit, use the embedded credit already in the icon you downloaded, or you can copy the line above
					and add it to your citations, </dt>
				<dt>To provide proper credit, use the embedded credit already in the icon you downloaded, or you can copy the line above
					and add it to your citations, </dt>
			</dl>
		</div>
		<!-- sidebar content area here -->


	</div>
</div>